body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0!important;
    font-family: 'Montserrat', sans-serif;
}

.leaflet-container {
    font-family: 'Montserrat', sans-serif;
}
.badge{
  padding:5px;
  border-radius: 2px;
}
#map {
    height: 100%;
    width: 100%;
}

#search {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: none;
}

.search--inner {
    width: 90%;
    margin: 0 auto;
    padding: 5% 10%;
    color: #FFF;
}

.search--more {
    text-align: center;
}

.search--more>button {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 5px;
}

#input {
    background: transparent;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    padding: 0;
    height: auto;
}

#input:focus, #input:hover {
    border: none !important;
    outline: none;
}

#fab {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 4000;
}
